{% extends '::base.html.twig' %}

{% macro renderResult(object, path = null, normal = true, route = null) %}
    {% if path is not null and path|length %}
        <li>
            <p><a href="{{ path }}">{{ object.title }}</a></p>
        </li>
    {% elseif normal == true %}
        <li>
            <p><a href="{{ path(object.route, object.routeParams()) }}">{{ object.title }}</a></p>
        </li>
    {% else %}
        <li>
            <p><a href="{{ path(route) }}">{{ object.title }}</a></p>
        </li>
    {% endif %}
{% endmacro %}

{% import _self as method %}

{% block main %}
    <div class="inner-page">
            <div class="page-header">
                {% include '::breadCrumbs.html.twig' with {'breadCrumbs':breadCrumbs} %}
                <div class="center">
                    <h1 class="title">{{content.title}}</h1>
                </div>
            </div>
            <div class="center search-page">
                <p>{{ 'search.for'|trans({}, "NewVisionFrontendBundle")}} <strong>{{ app.request.get('q') }}</strong></p>
                <p>{{ 'search.found'|trans({}, "NewVisionFrontendBundle")}} {{ totalResults }}</p>

                <hr />
                {% if airports is defined and airports is not null and airports|length %}
                    <h5>{{ 'search.airports'|trans({}, 'NewVisionFrontendBundle')}}</h5>

                    <ul>
                        {% for airport in airports %}
                            {{ method.renderResult(airport) }}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if services is defined and services is not null and services|length %}
                    <h5>{{ 'search.services'|trans({}, 'NewVisionFrontendBundle')}}</h5>

                    <ul>
                        {% for service in services %}
                            {{ method.renderResult(service) }}
                        {% endfor %}
                    </ul>
                {% endif %}
        </div><!-- /.mainContent -->
    </div><!-- /.wrapper -->
{% endblock %}
