<!--subject: Confirmation for your journey #{$order.id} from TaxiChester.UK-->

<style>
    th {
        text-align: right;
        padding: 2px 5px;
    }
    td {
        padding: 2px 5px;
    }
</style>

<table>
<tr>
    <th>Order #</th>
    <td>{{order.no}}</td>
</tr>
{% if offer is defined and offer is not null and offer|length %}
    <tr>
        <th>Offer:</th>
        <td><a href="{{ app.request.getSchemeAndHttpHost() }}{{path(offer.route, offer.routeParams)}}">{{offer.title}}</a></td>
    </tr>
{% endif %}
<tr>
    <th>Booked on:</th>
    <td>{{order.createdAt|date('d.m.Y H:i')}}</td>
</tr>
<tr>
    <th>Booked for:</th>
    <td>{{order.startTime|date('d.m.Y H:i')}}</td>
</tr>
{% if order.returnDate is defined and order.returnDate is not null and order.returnDate|length %}
    <tr>
        <th>Return journey:</th>
        <td>{{order.returnDate|date('d.m.Y')}}</td>
    </tr>
    <tr>
        <th>Return journey:</th>
        <td>{{order.returnTime|date('H:i')}}</td>
    </tr>
{% endif %}
<tr>
    <th>Starting point:</th>
    <td>{{order.from}}<br />({{order.fromLng}}, {{order.fromLat}})</td>
</tr>
{% if order.via is defined and order.via is not null and order.via|length %}
    <tr>
        <th>Waypoint:</th>
        <td>{{order.via}}<br />({{order.viaLng}}, {{order.viaLat}})</td>
    </tr>
{% endif %}
<tr>
    <th>End point:</th>
    <td>{{order.to}}<br />({{order.toLng}}, {{order.toLat}})</td>
</tr>
<tr>
    <th>Distance:</th>
    <td>{{order.distance}} miles</td>
</tr>
<tr>
    <th>Number of passengers:</th>
    <td>{{order.passengers}}</td>
</tr>
<tr>
    <th>Calculated amount:</th>
    <td>
        {% if order.payment == 'cash' %}
            £{{order.amount|number_format(2)}}
        {% else %}
            {{order.amount*1.05|number_format(2)}}
        {% endif %}
    </td>
</tr>
<tr>
    <th>Payment method:</th>
    <td>{{order.paymentType}}</td>
</tr>
</table>

<p>Thank you for using Chester Travel Taxis!</p>