<header class="" itemscope="" itemtype="http://schema.org/WPHeader">
	<div class="forfixing">
	 	<div class="center">
		 	<a href="{{ path("homepage") }}" class="logo">
			 	<img src="/images/logo.png" alt="TaxiChester.uk" >
		        <script type="application/ld+json">
		          {
		          "@context": "http://schema.org/",
		          "@type": "Organization",
		          "url": "{{ app.request.getSchemeAndHttpHost() }}",
		          "logo": "{{ app.request.getSchemeAndHttpHost() }}/images/logo.png"
		          }
		        </script>
		 	</a>
			<nav>
				<input id="menu" type="checkbox" name="menu">
				<label for="menu"><span></span></label>
				{{ knp_menu_render('NewVisionFrontendBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
			</nav>
			<span class="searchButton"></span>
			<div class="searchContainer">
				<div class="center">
					<form action="{{ path("search") }}">
						<input type="text" name="q" class="search-input" placeholder="Search...">
						<input type="submit" name="submit" value="submit" class="search-submit">
					</form>
				</div>
			</div>
			<div class="right phone">
				<a href="{{ path("new_order") }}" class="mbtn mbtn-orange sticky">Book now</a>
				<div class="static"><i></i><span>{{ settings.get('header_phone_1') }}<br>{{ settings.get('header_phone_2') }}</span></div>
			</div>
		 	<a href="tel:{{ settings.get('header_phone_1') }}" class="hidden mobileversion"></a>
			<div class="clear"></div>
	 	</div>
	</div>
 	<div class="push"></div>
</header>
<div class="clear"></div>
