{% extends '::base.html.twig' %}

{% block main %}
    <div id="content">
        <div class="inner-page">
            <div class="page-header">
                <div class="center">
                    <h1 class="title">{{content.title}}</h1>
                </div>
            </div>
            <div class="center">
                {% if content.description is defined and content.description is not null and content.description|length %}
                    <div class="warning">
                        {{content.description|raw}}
                    </div>
                {% endif %}
                {% if hotels is defined and hotels is not null and hotels|length %}
                    <div class="list">
                        <div class="slider">
                            {% for item in hotels %}
                                <div class="slide">
                                    <div class="img-wrap">
                                        {% thumbnail item.translations[app.request.locale].image, 'index' with { 'alt': item.translations[app.request.locale].image.title } %}
                                        <div class="hover">
                                            <a href="{{path('hotel_view', {'slug': item.slug })}}?point=from"><span class="orient">{{ 'from'|trans({}, "NewVisionFrontendBundle")}}<i></i></span></a>
                                            <a href="{{path('hotel_view', {'slug': item.slug })}}?point=to"><span class="orient"><i></i>{{ 'to'|trans({}, "NewVisionFrontendBundle")}}</span></a>
                                        </div>
                                    </div>
                                    <span class="price">£ {{item.price}}</span>
                                    <span class="title">{{item.title}}</span>
                                </div>
                            {% endfor %}
                            <div class="clear"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
